fastapi==0.65.2
pyoxigraph==0.3.19
uvicorn>=0.11.3
aiofiles==0.4.0
httpx==0.21.1
starlette==0.14.2
h11==0.12.0
Jinja2==3.0.3
python-multipart==0.0.5
rich==12.4.1
markdown-it-py==2.1.0
aiosqlite==0.17.0
pylode==3.0.4
python3-saml==1.14.0
python-jose==3.3.0
rdflib==6.1.1
tree-sitter==0.20.1
fizzysearch==0.2
igraph==0.10.4
numpy==1.22.4
voyager==2.0.6
gensim==4.3.2
scipy==1.10.1