{% extends "base.html" %}

{% block head_last %}
<script src="/static/editor.js"></script>
<link rel="stylesheet" href="/static/codemirror.css">
{% endblock %}


{% macro snippet(param, elem) %}
<div class="snippet">    

{% if param == "s" and elem["value"] == s.replace("<", "").replace(">", "") %}
    <a href="/shmarql?e={{e}}&p={{p|urlencode}}&o={{o|urlencode}}" class="selektor">&middot;</a>    
{% else %}
    <a href="/shmarql?e={{e}}&s=&lt;{{elem['value']|urlencode}}&gt;&p={{p|urlencode}}&o={{o|urlencode}}" class="selektor">S</a>
{% endif %}

{% if param == "p" and elem["value"] == p.replace("<", "").replace(">", "") %}
    <a href="/shmarql?e={{e}}&s={{s|urlencode}}&o={{o|urlencode}}" class="selektor">&middot;</a>
{% else %}
    {% if elem["value"] in GRAPH_PREDICATES %}
        <a href="/shmarql?e={{e}}&p=<{{elem['value']|urlencode}}>&s={{s|urlencode}}&o={{o|urlencode}}" class="selektor">P</a>
    {% else %}
        <span>&middot;</span>
    {% endif %}    
{% endif %}

{% if param == "o" and elem["value"] == o.replace("<", "").replace(">", "") %}
    <a href="/shmarql?e={{e}}&s={{s|urlencode}}&p={{p|urlencode}}" class="selektor">&middot;</a>
{% else %}

{% if elem["type"] in ["uri", "bnode"] %}
    <a href="/shmarql?e={{e}}&o=<{{elem['value']|urlencode}}>&s={{s|urlencode}}&p={{p|urlencode}}" class="selektor">O</a>
{% else %}
    <a href="/shmarql?e={{e}}&o=%22{{elem['value']|urlencode}}%22&s={{s|urlencode}}&p={{p|urlencode}}" class="selektor">O</a>
{% endif %}

    
{% endif %}

{% if elem["type"] in ["uri", "bnode"] %}
    <a href="/shmarql?e={{e}}&{{param}}=&lt;{{elem['value']|urlencode}}&gt;">{{elem["value"]|prefixes}}</a>
{% else %}
    <a href="/shmarql?e={{e}}&{{param}}=%22{{elem['value']|urlencode}}%22{% if elem['xml:lang'] %}@{{elem['xml:lang']}}{% endif %}">{{elem["value"]}}</a>   
{% endif %}

{% if elem["type"] in ["uri", "bnode"] %}
<a href="{{elem['value']}}" target="_new">
<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
  <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
</svg>
</a>
{% endif %}

</div>
{% endmacro %}


{% block content %}

{% if results %}
    <div class="container-fluid p-4">

        {% if showq %}
        <div id="editor">
            <form style="border:2px solid #ccc"><textarea id="code" name="code">{{q}}
</textarea></form>
                <a href="#" id="execute_sparql" title="Execute this query on the chosen endpoint"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-play-btn" viewBox="0 0 16 16">
                <path d="M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                </svg></a>
        </div>
        {% endif %}


        <div id="results">
            <table class="table table-striped">
            <thead>
                <tr>
                    {% if "s" in results["head"]["vars"] %}<th><a href="/shmarql?e={{e}}&p={{p|urlencode}}&o={{o|urlencode}}">{{s}}</a></th>{% endif %}
                    <th><a href="/shmarql?e={{e}}&s={{s|urlencode}}&o={{o|urlencode}}">{{p}}</a></th>
                    <th><a href="/shmarql?e={{e}}&p={{p|urlencode}}&s={{s|urlencode}}">{{o}}</a></th>
                </tr>
            </thead>
            <tbody>
            {% for row in results["results"]['bindings'] %}<tr>
            {% if "s" in row %}<td>
                {{snippet("s", row["s"])}}
            </td>{% endif %}
            <td>
                {{snippet("p", row["p"])}}
            </td>
            <td>
                {{snippet("o", row["o"])}}
            </td>
            </tr>{% endfor %}
            </tbody>
            </table>
        </div>

    </div>

{% endif %}
{% if showq %}
<script>
      var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        mode: "application/sparql-query",
        matchBrackets: true
      });
</script>
{% endif %}

{% endblock %}