{% extends "base.html" %}

{% block content %}

<div class="container" style="margin-bottom: 10vh; margin-top: 5vh">

<table>
<tbody>
<tr>
    <td>Endpoint: </td><td><input type="text" id="endpoint" style="width: 80ch"></td>
    </tr>
<tr>
    <td>Subject:</td><td><input type="text" id="subject" style="width: 80ch" title="(You can leave out the &lt; and &gt; they are added automatically)"></td>
</tr>
</tbody></table>
<a id="go" href="#" class="btn btn-large btn-primary">GO</a>

    <div style="padding: 3ch; margin: 2ch" class="shadow">
    <p>You can "bootstrap" a SPARQL endpoint by specifying a subject, predicate or object URI to start with.
        This can be specified with a URL param for this page in the endpoint= s= p= or o= manner.</p>
        <p>For example, let's start with <a href="?e=https://query.wikidata.org/sparql&s=%3Chttp://www.wikidata.org/entity/Q185372%3E">Wikidata</a>, or the<a href="/shmarql/?e=https://dbpedia.org/sparql&s=%3Chttp://dbpedia.org/resource/Girl_With_a_Pearl_Earring%3E"> same thing on dbpedia </a></p>
        <p>Or more interesting <a href="?e=https://dbpedia.org/sparql&s=<http%3A//dbpedia.org/resource/South_Africa>">South Africa</a> or  <a href="/shmarql/?e=https://dbpedia.org/sparql&s=%3Chttp://dbpedia.org/resource/Paris%3E">Paris</a></p>
        <p>Or, let's look at some <a href="?e=https://data.bibliotheken.nl/sparql&s=%3Chttp://data.bibliotheken.nl/id/nbt/p192741446%3E">KB Data</a>
        <p><a href="?e=http://caligraph.org/sparql&o=%3Chttp://caligraph.org/ontology/Person%3E">Calligraph sub-classes of Person</a> and <a href="?e=http://caligraph.org/sparql&s=<http://caligraph.org/resource/Tim_Berners-Lee>">Sir Tim Berners-Lee</a></p>

        <p>Datasets at <a href="?e=https://data.create.humanities.uva.nl/sparql&p=%3Fp&o=<https%3A//data.create.humanities.uva.nl/id/datasets/>">UVA CREATE</a>, like <a href="?e=https://data.create.humanities.uva.nl/sparql&p=%3Fp&s=<https://data.create.humanities.uva.nl/id/onstage/>">onstage</a></p>
        <p><a href="?e=https://dati.cultura.gov.it/sparql&s=%3Chttps://w3id.org/arco/resource/ArchaeologicalProperty/0600003054%3E">Beniculturali</a></p>
        <p><a href="?e=https://ldf.fi/mmm/sparql&s=%3Chttp://ldf.fi/mmm/manifestation_singleton/bibale_10000%3E">Mapping Manuscript Migrations</a></p>
        <p><a href="?e=https://imagesnippets.com/sparql/images&p=%3Fp&s=<https%3A//imagesnippets.com/imgtag/images/info%40margaretwarren.us/P1030103.JPG>">ImageSnippets</a></p>
	    <p><a href="?e=https://publications.europa.eu/webapi/rdf/sparql&s=<http%3A%2F%2Feurovoc.europa.eu%2F100280>">https://publications.europa.eu/</a>
        <p><a href="?e=https://api.lod.uba.uva.nl/datasets/UB-UVA/CATALOGUE/services/virtuoso/sparql&p=<http%3A//xmlns.com/foaf/0.1/name>&s=%3Fs&o=%3Fo">UB UVA Catalogue</a></p>
        <p><a href="?e=https://api.lod.uba.uva.nl/datasets/UB-UVA/CATALOGUE/services/virtuoso/sparql&s=<https://pid.uba.uva.nl/ark:/88238/b1990020542570205131>">UB UVA Catalogue Manuscript</a></p>

	    <p><a href="?e=https://api.lod.uba.uva.nl/datasets/UB-UVA/Beeldbank/services/virtuoso/sparql&s=%3Chttps%3A//hdl.handle.net/11245/3.1029%3E">An image from the UVA Library Beeldbank</a></p>
        <p><a href="?e=https://api.lod.uba.uva.nl/datasets/UB-UVA/Catalogue/services/virtuoso/sparql&s=<https://pid.uba.uva.nl/ark:/88238/b1990032596330205131>">An item from the UVA Library Archeology Collection</a></p>
        <p><a href="?e=https://query.artbase.rhizome.org/proxy/wdqs/bigdata/namespace/wdq/sparql&p=<https://artbase.rhizome.org/prop/direct/P29>">RHIZOME</a></p>
        <p><a href="?e=https://druid.datalegend.net/_api/datasets/IISG/iisg-kg/services/iisg-kg/sparql&o=<https://iisg.amsterdam/authority/person/185226>">International Institute of Social History IISG</a>, mentioning Wim Kok</p>
        <p><a href="?e=https://sparql.fellesdatakatalog.digdir.no&s=<https%3A//concepts.fellesdatakatalog.digdir.no/concepts/22df72b6-f6e0-3ca3-99d3-6274a5b1adfb>">Felles Datakatalog</a> with its query interface at: https://data.norge.no/sparql</p>
	<p><a href="?e=https://linkeddata.uriburner.com/sparql&s=<https%3A%2F%2Fwww.netflix.com%2Fgb%2Ftitle%2F80057281%23TVSeries>">Stranger Things at Openlink URIBurner</a></p>
        <p><a href="?e=https://dnkg.tools.dbpedia.org/sparql/&o=<http://dbpedia.org/ontology/Person>">Dutch National Knowledge Graph</a></p>
        <p><a href="?e=https://makg.org/sparql&o=<https://makg.org/class/Paper>">Microsoft Academic Knowledge Graph</a></p>

        <p><a href="?e=https://data.bnf.fr/sparql/&o=<http://purl.org/ontology/bibo/Periodical>">BNF</a></p>
        <p><a href="?e=http://dati.cultura.gov.it/sparql&s=<https://w3id.org/arco/resource/HistoricOrArtisticProperty/0900078896>">ICCD Cultura Gov.IT</a></p>

        <p><a href="?e=https://service.archief.nl/sparql&s=<https://archief.nl/doc/fotorecord/ac8de352-d0b4-102d-bcf8-003048976d84>">Nationaal Archief</a></p>

        <p><a href="?e=https://isidore.science/sparql&o=<http%3A%2F%2Fisidore.science%2Fontology%23periodical>">isidore.science</a></p>

        <p><a href="?e=https://ld.cultural.jp/sparql&p=<http%3A//schema.org/creator>&o=<https%3A%2F%2Fjpsearch.go.jp%2Fentity%2Fchname%2F葛飾北斎>">Cultural Japan</a><br>
        <a href="?e=https://ld.cultural.jp/sparql&s=%3Chttps%3A//jpsearch.go.jp/data/Nhikie-2018_u_0342%3E">a specific image</a>
        </p>

        <p><a href="?e=https://api.collectiedata.hetnieuweinstituut.nl/datasets/the-other-interface/knowledge-graph/services/knowledge-graph/sparql&p=%3Chttp%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23type>">Het Nieuwe Instituut</a>
        </p>

        <p><a href="?e=https://api.triplydb.com/datasets/Triply/ISIL-NL-ARCH/services/ISIL-codes-Nederland/sparql&s=<https%3A//triplydb.com/Triply/isil/organization/NL-04-0041-000>">ISIL codes van Nederlandse Archieven</a></p>

        <p><a href="?e=https://www.goudatijdmachine.nl/sparql/repositories/gtm&s=%3Chttps://n2t.net/ark:/60537/bQqR5b%3E">Gouda Tijd Machine</a></p>
        
        <p><a href="?e=https://data.corpus-nummorum.eu/sparql&s=<https://www.corpus-nummorum.eu/CN_38989>">Corpus Nummorum</a></p>

        <p><a href="?e=https://query.mimotext.uni-trier.de/proxy/wdqs/bigdata/namespace/wdq/sparql&s=<http%3A//data.mimotext.uni-trier.de/entity/Q1017>">MiMoText</a> <a href="https://mimotext.github.io/MiMoTextBase_Tutorial/aboutMiMoTextBase.html">(about)</a></p>    

        <p><a href="?e=https://dblp-kg.ltdemos.informatik.uni-hamburg.de/sparql&o=%3Chttps://dblp.org/rdf/schema%23Article%3E">DBLP Articles</a> <a href="https://blog.dblp.org/2022/03/02/dblp-in-rdf/">(about)</a></p>

    </div>


</div>

<script>
go = document.getElementById("go")
go.addEventListener("click", (event) => {
    endpoint = document.getElementById("endpoint")
    if(endpoint.value) {
        subject = document.getElementById("subject")
        let url = '/shmarql/?e=' + encodeURIComponent(endpoint.value)
        if(subject.value) {
            url = url + '&s=%3C' + encodeURIComponent(subject.value) + "%3E"
        }
        document.location = url
    }
})

</script>
{% endblock %}
