{% extends "base.html" %}

{% macro snippet(param, elem) %}
<div class="snippet">    

{% if elem["type"] == "uri" %}

{% if param == "s" and elem["value"] == s %}
    <a href="/shmarql?e={{e}}&p={{p|urlencode}}&o={{o|urlencode}}" class="selektor">&middot;</a>&nbsp;
{% else %}
    <a href="/shmarql?e={{e}}&s=<{{elem['value']|urlencode}}>&p={{p|urlencode}}&o={{o|urlencode}}" class="selektor">S</a>&nbsp;
{% endif %}

{% if param == "p" and elem["value"] == p %}
    <a href="/shmarql?e={{e}}&s={{s|urlencode}}&o={{o|urlencode}}" class="selektor">&middot;</a>&nbsp;
{% else %}
    <a href="/shmarql?e={{e}}&p=<{{elem['value']|urlencode}}>&s={{s|urlencode}}&o={{o|urlencode}}" class="selektor">P</a>&nbsp;
{% endif %}

{% if param == "o" and elem["value"] == o %}
    <a href="/shmarql?e={{e}}&s={{s|urlencode}}&p={{p|urlencode}}" class="selektor">&middot;</a>&nbsp;
{% else %}
    <a href="/shmarql?e={{e}}&o=<{{elem['value']|urlencode}}>&s={{s|urlencode}}&p={{p|urlencode}}" class="selektor">O</a>&nbsp;
{% endif %}

{% endif %}{{elem["value"]|prefixes}}
</div>
{% endmacro %}


{% block content %}

{% if results %}
    <div class="container-fluid">
    <div class="p-4">

    {% for TITLE_PREDICATE in TITLE_PREDICATES %}
        {% if obj(TITLE_PREDICATE) %}
            <h1>{{obj(TITLE_PREDICATE)}}</h1>
        {% endif %}
    {% endfor %}
    

    {% if obj.get("rdf:type") %}
    <h3><em>rdf:type</em> {% for t in obj.get("rdf:type", []) %}    
    <a href="?e={{e}}&o=%3C{{t['value']}}%3E">{{t['value']|prefixes}}</a> {% if not loop.last %}&middot;{% endif %}
    {% endfor %}</h3>
    {% endif %}

 
    <table class="table">
    <tbody>
    {% for row in results["results"]['bindings'] %}
    
    {% if row["p"]["value"] not in IGNORE_FIELDS %}
    <tr>
    <td>
        {{snippet("p", row["p"])}}
    </td>
    <td>
        {{snippet("o", row["o"])}}
    </td>
    </tr>{% endif %}
    {% endfor %}
    </tbody>
    </table>
    </div>
{% endif %}

{% endblock %}