{% extends "base.html" %}

{% macro snippet(param, elem) %}
<div class="snippet">    

{% if elem["type"] == "uri" %}

{% if param == "s" and elem["value"] == s.replace("<", "").replace(">", "") %}
    <a href="/shmarql?e={{e}}&p={{p|urlencode}}&o={{o|urlencode}}" class="selektor">&middot;</a>    
{% else %}
    <a href="/shmarql?e={{e}}&s=&lt;{{elem['value']|urlencode}}&gt;&p={{p|urlencode}}&o={{o|urlencode}}" class="selektor">S</a>
{% endif %}

{% if param == "p" and elem["value"] == p.replace("<", "").replace(">", "") %}
    <a href="/shmarql?e={{e}}&s={{s|urlencode}}&o={{o|urlencode}}" class="selektor">&middot;</a>
{% else %}
    <a href="/shmarql?e={{e}}&p=<{{elem['value']|urlencode}}>&s={{s|urlencode}}&o={{o|urlencode}}" class="selektor">P</a>
{% endif %}

{% if param == "o" and elem["value"] == o.replace("<", "").replace(">", "") %}
    <a href="/shmarql?e={{e}}&s={{s|urlencode}}&p={{p|urlencode}}" class="selektor">&middot;</a>
{% else %}
    <a href="/shmarql?e={{e}}&o=<{{elem['value']|urlencode}}>&s={{s|urlencode}}&p={{p|urlencode}}" class="selektor">O</a>
{% endif %}

<a href="/shmarql?e={{e}}&{{param}}=&lt;{{elem['value']|urlencode}}&gt;">{{elem["value"]|prefixes}}</a>
<a href="{{elem['value']}}" target="_new">
<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
  <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
</svg>
</a>
{% else %}
<span>{{elem['value']}}</span>
{% endif %}


</div>
{% endmacro %}


{% block content %}

{% if results %}
    <div class="container-fluid">
    <div class="p-4">

    {% for TITLE_PREDICATE in TITLE_PREDICATES %}
        {% if obj(TITLE_PREDICATE) %}
            <h1>{{obj(TITLE_PREDICATE)}}</h1>
        {% endif %}
    {% endfor %}
    

    {% if obj.get("rdf:type") %}
    <h3><em>rdf:type</em> {% for t in obj.get("rdf:type", []) %}    
    <a href="?e={{e}}&o=%3C{{t['value']|urlencode}}%3E">{{t['value']|prefixes}}</a> {% if not loop.last %}&middot;{% endif %}
    {% endfor %}</h3>
    {% endif %}

 
    <table class="table">
    <tbody>
    {% for row in results["results"]['bindings'] %}
    
    {% if row["p"]["value"] not in IGNORE_FIELDS %}
    <tr>
    <td>
        {{snippet("p", row["p"])}}
    </td>
    <td>
        {{snippet("o", row["o"])}}
        {% for IMAGE_PREDICATE in IMAGE_PREDICATES %}
        {% if row["p"]["value"] == IMAGE_PREDICATE %}
        <img src='{{row["o"]["value"]}}' style="width: 20vw">
        {% endif %}

        {% endfor %}



    </td>
    </tr>{% endif %}
    {% endfor %}
    </tbody>
    </table>
    </div>
{% endif %}

{% endblock %}