{% extends "base.html" %}

{% macro snippet(param, elem) %}
<div class="snippet">    

{% if param == "s" and elem["value"] == s.replace("<", "").replace(">", "") %}
    <a href="{{SERVICE_URI}}?g={{g}}&e={{e}}&p={{p|urlencode}}&o={{o|urlencode}}" class="selektor">&middot;</a>    
{% else %}

    {% if elem["type"] == "uri" %}
        <a href="{{SERVICE_URI}}?g={{g}}&e={{e}}&s=&lt;{{elem['value']|urlencode}}&gt;&p={{p|urlencode}}&o={{o|urlencode}}" class="selektor">S</a>
    {% elif elem["type"] == "bnode" %}
        <a href="{{SERVICE_URI}}?g={{g}}&e={{e}}&s=&lt;_:{{elem['value']|urlencode}}&gt;&p={{p|urlencode}}&o={{o|urlencode}}" class="selektor">S</a>
    {% endif %}

{% endif %}

{% if param == "p" and elem["value"] == p.replace("<", "").replace(">", "") %}
    <a href="{{SERVICE_URI}}?g={{g}}&e={{e}}&s={{s|urlencode}}&o={{o|urlencode}}" class="selektor">&middot;</a>
{% else %}
    <a href="{{SERVICE_URI}}?g={{g}}&e={{e}}&p=<{{elem['value']|urlencode}}>&s={{s|urlencode}}&o={{o|urlencode}}" class="selektor">P</a>
{% endif %}

{% if param == "o" and elem["value"] == o.replace("<", "").replace(">", "") %}
    <a href="{{SERVICE_URI}}?g={{g}}&e={{e}}&s={{s|urlencode}}&p={{p|urlencode}}" class="selektor">&middot;</a>
{% else %}

    {% if elem["type"] == "uri" %}
        <a href="{{SERVICE_URI}}?g={{g}}&e={{e}}&o=&lt;{{elem['value']|urlencode}}&gt;&s={{s|urlencode}}&p={{p|urlencode}}" class="selektor">O</a>
    {% elif elem["type"] == "bnode" %}
        <a href="{{SERVICE_URI}}?g={{g}}&e={{e}}&o=&lt;_:{{elem['value']|urlencode}}&gt;&s={{s|urlencode}}&p={{p|urlencode}}" class="selektor">O</a>
    {% else %}        
        <a href="{{SERVICE_URI}}?g={{g}}&e={{e}}&o=%22{{elem['value']|urlencode}}%22{% if elem['xml:lang'] %}@{{elem['xml:lang']}}{% endif %}&s={{s|urlencode}}&p={{p|urlencode}}" class="selektor">O</a>
    {% endif %}
        

{% endif %}


{% if elem["type"]  == "uri" %}
    <a href="{{SERVICE_URI}}?g={{g}}&e={{e}}&{{param}}=&lt;{{elem['value']|urlencode}}&gt;" title="{{elem["value"]|prefixes}}">{{nicer.s(elem["value"])}}</a>
{% elif elem["type"] == "bnode" %}
    <a href="{{SERVICE_URI}}?g={{g}}&e={{e}}&{{param}}=&lt;_:{{elem['value']|urlencode}}&gt;">{{elem["value"]|prefixes}}</a>
{% else %}
    <a href="{{SERVICE_URI}}?g={{g}}&e={{e}}&{{param}}=%22{{elem['value']|urlencode}}%22{% if elem['xml:lang'] %}@{{elem['xml:lang']}}{% endif %}">{{elem["value"]}}</a>   
{% endif %}


<a href="{{elem['value']}}" target="_new">
<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
  <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
</svg>
</a>




</div>
{% endmacro %}


{% block content %}

{% if results %}
    <div class="container-fluid">
    <div class="p-4">

    <div style="background-color: #eee; padding: 2vw">
        {% if not s.startswith("<_:") %}
            <a href="{{SERVICE_URI}}?g={{g}}&e={{e}}&p=<{{s.strip('<>')|urlencode}}>" class="selektor">P</a>
        {% endif %}
        
        <a href="{{SERVICE_URI}}?g={{g}}&e={{e}}&o=<{{s.strip('<>')|urlencode}}>" class="selektor">O</a>
        {{s.strip("<>")}}

        {% for TITLE_PREDICATE in TITLE_PREDICATES %}
            {% if obj(TITLE_PREDICATE) %}
                <h1>{{obj(TITLE_PREDICATE)}}</h1>
            {% endif %}
        {% endfor %}

        {% if obj.get("http://www.w3.org/1999/02/22-rdf-syntax-ns#type") %}
        <h3><em>a type of</em> {% for t in obj.get("http://www.w3.org/1999/02/22-rdf-syntax-ns#type", []) %}    
        <a href="?e={{e}}&s={{s|urlencode}}&o=%3C{{t['value']|urlencode}}%3E">{{t['value']|prefixes}}</a> {% if not loop.last %}&middot;{% endif %}
        {% endfor %}</h3>
        {% endif %}

        <div style="text-align: right">
            <a href="{{SERVICE_URI}}?g={{g}}&e={{e}}&s={{s|urlencode}}&fmt=ttl" class="btn btn-sm btn-secondary">TTL</a>
            <a href="{{SERVICE_URI}}?g={{g}}&e={{e}}&s={{s|urlencode}}&fmt=nt" class="btn btn-sm btn-secondary">NT</a>
        </div>


    </div>


 
    <table class="table">
    <tbody>
    {% for field in obj %}    
    {% if field not in IGNORE_FIELDS %}
    <tr>
    <td>
        <a href="{{SERVICE_URI}}?g={{g}}&e={{e}}&s=&lt;{{field|urlencode}}&gt;&p={{p|urlencode}}&o={{o|urlencode}}" class="selektor">S</a>
        {% if field in GRAPH_PREDICATES %}
            <a href="{{SERVICE_URI}}?g={{g}}&e={{e}}&p=<{{field|urlencode}}>&s={{s|urlencode}}&o={{o|urlencode}}" class="selektor">P</a>    
        {% endif %}
        <a href="{{SERVICE_URI}}?g={{g}}&e={{e}}&o=<{{field|urlencode}}>&s={{s|urlencode}}&p={{p|urlencode}}" class="selektor">O</a>
        <a href="{{SERVICE_URI}}?g={{g}}&e={{e}}&p=<{{field|urlencode}}>&s={{s|urlencode}}&o={{o|urlencode}}">{{field|prefixes}}</a>
        
    </td>
    <td>
        {% for val in obj[field] %}

        {{snippet("o", val)}}
        {% for IMAGE_PREDICATE in IMAGE_PREDICATES %}
        {% if field == IMAGE_PREDICATE %}
            <img src='{{val["value"]}}' style="width: 20vw">
        {% endif %}
        {% endfor %}

        {% endfor %}



    </td>
    </tr>{% endif %}
    {% endfor %}
    </tbody>
    </table>
    </div>
{% endif %}

{% endblock %}