{% extends "base.html" %}

{% block head_last %}
  <link href="https://unpkg.com/@triply/yasgui/build/yasgui.min.css" rel="stylesheet" type="text/css" />
  <script src="https://unpkg.com/@triply/yasgui/build/yasgui.min.js"></script>
  <style>
  .yasgui .autocompleteWrapper {
    display: none !important;
  }
</style>
{% endblock %}

{% block content %}
  <div id="yasgui"></div>
  <script>
    const yasgui = new Yasgui(document.getElementById("yasgui"), {
        requestConfig: { endpoint: "{{ENDPOINT}}" },
        copyEndpointOnNewTab: false,
    });
  </script>
{% endblock %}
